# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
*.orig.*

# Native
android/
ios/

# Metro
.metro-health-check*

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Logs
*.log

# TS
*.tsbuildinfo
